# Lecture 9/12/18
Examples from Class. Please feel free to copy and mess with the code.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('/Users/kevin/Dropbox/Github/Classes/IS_485_685/sliced_training.csv')
df.drop(['Unnamed: 0'], axis=1, inplace=True) # Drops Extra 'Unnamed'Column
df.head()

,Index,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,...,Duration in Current address,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,845,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,659,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,194,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
3,213,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2
4,625,1,10,4,0,2241,1,2,1,3,...,3,1,48,3,1,2,2,2,1,2

# How to convert Python dataframe to R Dataframe just for fun.
1. In your bash command install "conda install rpy2"
2. Run The cell below (only needs to be ran once)
3. Use the template %%R -i df to convert to an R dataframe

In [2]:
%load_ext rpy2.ipython

In [3]:
%%R -i df

# Pull a column from the R Dataframe for example
df$Purpose

  [1]  2  0  0  0  0  0  0  3  3  0  1  3 10  3  3  0  3  3  0  0  0  5  4  0  3
 [26]  3  0  1  3  0  0  3  0  0  3  1  1 10  0  9  6  0  9  6  0  9  3  0  3  1
 [51]  3  3  3  0  0  1  3  0  0  3  3  3  3  0  2  3  3  3  2  1  0  0  3  0  3
 [76]  0  1  2  0  1  3  0  0  3  9  3  2  2  3  9  2  9  2  9  0  3  0  9  3  3
[101]  6  0  0  2  0  2  1  2  3  1  3  3  3  3  2  0  3  2  2  2  3  0  2  0  0
[126]  3  3  6  3  2  3  1  1  2  9  3  3  1  0  3  3  3  3  9  2  3  9  2  2  0
[151]  3  9  2  3  3  0  3  3  3  3  9  1  9  3  4  0  9  3  9  9  0  3  6  0  3
[176]  6  0  0  3  1  0  2  3  9  3  1  3  2  0  9  3  3  0  3  0  2  2  0  0  0
[201]  1  0  0  3  3  1  1  2  3  0  9  9  3  1  1  3  2  3  1  3  0  9  3  1  3
[226]  2  5  1  0  5  3  1  9  2  2  3  9  2  0  2  2  3  3  3  2  3  1  2  2  1
[251]  8  3  9  3  3  2  1  0  3  3  0  3  6  2  3  9  1  2  9  3  3  2  3  0  2
[276]  3  1  1  0  1  9  3  3  0  0  3  9  2  0  0  0  0  0  3  6  3  3  0  2  5
[301]  0  1  1  3  1  1  0  3  0  2  0  9  0  3  1  1  0  0  0  0  2  2  2  3  2
[326]  3  8  0  2  9  3  1  2  3  5  1  5  3  2  2  0  2  0  4  1  1  0  6  3  2
[351]  3  3  1  0  9  9  1  3  3 10  1  9  9  3  3  9  9  3  3  1  3  2  0  0  0
[376]  3  6  6  6  0  3  5  9  9  9  6  9  9  2  9  2  3  2  1  2  0  6  0  3 10
[401]  9  2  1  1  2  1  0  0  2  1  0  3  6  2  9  2  3  2  3  6  5  5  2  9  2
[426]  2  9  2  2  9  0  3  2  9  3  1  3  3  1  3  0  0  3  5  1  3  3  1  2  0
[451]  0  6  0  2  0  3  9  6  3  2  2  2  3  1  3  3  3  3  3  1  3  3  3  3  0
[476]  0  2  3  3  2  2  3  3  3  0  2  0  6  0  2  9  0  2  1  9  0  1  0  3  9
[501]  3  9  2  3  0  6  1  2  1  9  2  2  3  3  2  3  2  1  0  2  3  2  2 10  2
[526]  0  2  2  3  2  1  2  0  2  2  2  1  2  2  2  2  1  0  1  0  2  1 10  1  2
[551]  1  2  0  3  8  2  2  2  2  2  0  2  2  9  2  1  2  9  1  1  6 10  3  3  9
[576]  9  2  3  9  9  3  3  3  3  3  3  3  3  3  3  3  0  3  3  3  3  3  1  3  3
[601]  2  2  4  2  3  3  0  1  2  3  0  3  1

### Conditionals

In [4]:
if df['Index'][0] > 700:
    print('Bigger than 700')
if df['Index'][0] > 800:
    print('Bigger than 800')

Bigger than 700
Bigger than 800

### Notice the difference between using just "if's" and using an elif.
Using elif will process your code faster because there's less conditions for the computer to check.

In [5]:
if df['Index'][0] > 900:
    print('Bigger than 700')
elif df['Index'][0] > 1000:
    print('Bigger than 800')
else:
    print('No condition met.')

No condition met.

### For Loop

In [6]:
# Print every element in index column
for value in df['Index']:
    print(value)

### For loop with nested IF conditional

In [7]:
# Print every element in index column if it's bigger than 800
for i in df['Index']:
    if i > 800:
        print(i)

### Loop a Dataframe

In [8]:
for index, row in df.head().iterrows():
    if index > 2:
        print(index) # prints the index of the row
        print(row[0:2])  # prints the FIRST TWO columns of the row

3
Index              213
Account Balance      1
Name: 3, dtype: int64
4
Index              625
Account Balance      1
Name: 4, dtype: int64

### While Loop
Caution: Make sure your loop can end, i.e. with an iterating value

In [9]:
i = 0
while i < 5:
    print(str(i) + " is less than 5")
    i += 1 # If you don't add this it'll run forever, abbreviation for i = i + 1.

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

# Dice Roll Example
This came from a question someone had on Quora and needed help coding up.

In [10]:
import numpy as np


def std_for_dice(number_of_dice_rolls): # This is me "Defining a function" that I named "std_for_dice"
    
    """
    You will often see these inside of a function, they are called doc strings.
    It is simply to explain what the function is going to do.
        
    Input: Number of dice rolls
    Output: Standard deviation of all those rolls.
    """
    
    ### Actual start of the Function
    x = 0 # Initial value of x
    ints_from_rolls = [] # This creates an empty list I plan to populate later in the code
    
    
    while x < number_of_dice_rolls:
        
        k = np.random.randint(1,7) # Randomly selects a number between 1 inclusive and 7 exclusive, i.e. 1-6
        ints_from_rolls.append(k)  # Adds random number to the empty list from above
        x+=1 # Adds 1 to x
        
    std_of_all_rolls = np.std(ints_from_rolls) # Calculates the standard deviation of the entire list.

    return print('List: {}, Std of Rolls: {}'.format(ints_from_rolls, std_of_all_rolls)) # prints the values pretty


# This actually "calls the function std_for_dice"

std_for_dice(6)

List: [2, 5, 2, 4, 2, 2], Std of Rolls: 1.2133516482134197

### Same Function as above without all the fluff

In [11]:
def std_for_dice(number_of_dice_rolls):
    
    x = 0
    ints_from_rolls = []
    
    
    while x < number_of_dice_rolls:
        
        k = np.random.randint(1,7)
        ints_from_rolls.append(k)
        x+=1
        
    std_of_all_rolls = np.std(ints_from_rolls)

    return print('List: {}, Std of Rolls: {}'.format(ints_from_rolls, std_of_all_rolls))

std_for_dice(6)

List: [5, 3, 6, 4, 5, 5], Std of Rolls: 0.9428090415820632

### Random number from a Normal Distribution
The parameters are mean and variance, so 0 & 1 will give a standard normal distribution.

In [12]:
x = np.random.normal(0,1)
x

-0.30728368617563034

# Using Bash Magic Commands
Act like the jupyter cell is a bash shell after typing %%bash at the top. Nothing extra to install.

In [18]:
%%bash

ls
git status
git add --all && git commit -m "Pushing commit using Bash Magic Command in Jupyter"
git push origin master

Demo.ipynb
Lecture_9_10_18.ipynb
Lecture_9_12_18.ipynb
Projects.ipynb
README.md
sliced_training.csv
something.csv
On branch master
Your branch is up-to-date with 'origin/master'.
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   .ipynb_checkpoints/Lecture_9_12_18-checkpoint.ipynb
	modified:   Lecture_9_12_18.ipynb

no changes added to commit (use "git add" and/or "git commit -a")
[master 7de7916] Pushing commit using Bash Magic Command in Jupyter
 2 files changed, 92 insertions(+), 12 deletions(-)

To https://github.com/kevinkurek/IS_485_685.git
   57d2c0c..7de7916  master -> master

In [19]:
%%bash
git status

On branch master
Your branch is up-to-date with 'origin/master'.
nothing to commit, working tree clean